.main{
    max-width: 1500px;
    height: 500px;
  }
  
  .container {
    width: 40%;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
  .header {
    width: 100%;
    height: auto;
    z-index: 1000;
    width: 100%;
  }
  
  .header-left {
    width: 20%;
    float: left;
    margin-right: 80px;
    height: 135px;
    display: flex;
  }
  
  .header-left .logo {
    margin: auto;
  }
  
  .header-main {
    width: 30%;
    float: left;
  }
  
  .main-menu {
    width: 74%;
    height: 114px;
    display: flex;
    background: orangered;
  }
  
  .main-menu ul li {
    display: inline-flex;
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
    padding-right: 137px;
  }
  
  .main-menu ul li a {
    padding-left: 12px;
  }
  
  .main-menu ul {
    margin: 26px auto;
  }

.sanpham-web{
    max-width: 1500px;
    height: 900px;
    width: 100%;
    border: 1px solid black;
}

.image-sanpham{
    width: 700px;
    height: 700px;
    float: left;
    position: relative;
    top: 0px;
}

.khoang-trong{
    width: 1500px;
    height: 90px;
    background-color: orangered;
  }

  .khoang-trong1{
    width: 1500px;
    height: 35px;
  }

.name{
    font-size: 25px;
}

.price{
  font-size: 35px;
}

.thongsokt{
  width: 800px;
  height: 700px;
  position: absolute;
  bottom: -172px;
  right: 266px;
}

.table-thongsokt{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

table, tr, td,p {
  border: 1px solid black;
}

#footer {
  width: 100%;
  background-color: gray;
}

#dongdau {
  width: 100%;
  height: 286px;
  background-color:  rgb(22, 42, 219);
  padding: 10px;
}

.cot{
  width: 25%;
  float: left;
  background-color: rgb(22, 42, 219);
}

.cot a {
  display: inline-block;
}

.cot ul li{
  list-style: none;
  margin: 10px;
}

.cot a {
  text-decoration: none;
  color: white;
}

.cot h3 {
  color: white;
  padding: 10px;
}

#donghai {
  background-color: gray;
  height: 50px;
}

#ngonngu {
  width: 15%;
  float: left;
}

#dieukhoan {
  width: 85%;
  height: 50px;
  float: left;
  text-decoration: none;
  text-align: right;
  line-height: 50px;
}

#ngonngu button{
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: aqua;
  border-radius: 20px;
  border: none;
}

#ngonngu i{
  margin-right: 5px;
}

#dieukhoan a{
  text-decoration: none;
  color: white;
  margin: 15px;
}